@page "/"

@inject IDishStorage _dishStorage
@inject IFavoriteStorage _favoriteStorage
@inject NavigationManager _navigationService

<h1>hello</h1>

@code {
	
	protected override void OnAfterRender(bool firstRender) {
		if (!firstRender) {
			return;
		}

		if (!_dishStorage.IsInitialized || !_favoriteStorage.IsInitialized) {
			_navigationService.NavigateTo(NavigationServiceConstants.InitializationPage);
		} else {
			_navigationService.NavigateTo(NavigationServiceConstants.MenuPage);
		}
	}
	

}
