@page "/Menu"

@inject IDishStorage _dishStorage

@if (!string.IsNullOrEmpty(_status))
{
	<div>@_status</div>
}

@foreach (var dish in _dishes)
{
	<span style="font-weight: bold; color: #0078d4">@dish.Name</span>
	<div class="shim-xl"></div>
}